@(title: String)
@main(title) {
    <div class="container">
        <p><a class="btn btn-success btn-lg" href="@routes.Application.create_employee()" role="button">Добавить</a></p>
        <div class="panel panel-default">
            <table class="table">
                <tr>
                    <th>Россия</th>
                    <th>Великобритания</th>
                    <th>Европа</th>
                    <th>Длина ступни, см</th>
                </tr>
                <tr><td>34,5</td><td>3,5</td><td>36</td><td>23</td></tr>
            </table>
        </div>
    </div>
}